.display-none {
    display: none;
}

.main-no_auth {
    margin-left: 0px !important;
}

.form-add {
    -vendor-animation-duration: 5s;
    -vendor-animation-delay: 5s;
    -vendor-animation-iteration-count: infinite;
}

.cursor-pointer {
    cursor: pointer;
}

#before-load {
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    height: 100%;
    left: 0; /*положение элемента слева*/
    top: 0; /*положение элемента сверху*/
    right: 0; /*положение элемента справа*/
    bottom: 0; /*положение элемента снизу*/
    z-index: 1001; /*располагаем его над всеми элементами на странице*/
}

