<div class="menu_section">
    <h3>Основное</h3>
    <ul class="nav side-menu">
        <li><a href="" ui-sref="index"><i class="fa fa-edit"></i> Первая</a></li>
        <li><a><i class="fa fa-edit"></i> Товары <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu child_menu_active">
                <li><a href="" ui-sref="products({cat:'fridges'})">Холодильники</a></li>
                <li><a href="" ui-sref="products({cat:'washings'})">Стир. машинки</a></li>
                <li><a href="" ui-sref="products({cat:'conditioners'})">Кондиционеры</a></li>
                <li><a href="" ui-sref="products({cat:'hobs'})">Варочные панели</a></li>
                <li><a href="" ui-sref="products({cat:'ovens'})">Духовые шкафы</a></li>
            </ul>
        </li>
        <li><a href="form.html"><i class="fa fa-edit"></i> Категории</a></li>
    </ul>
</div>