<div class="panel-group">
    <!-- 1 панель -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title cursor-pointer" ng-click="toggle('#according01')">Основные поля</h4>
        </div>
        <div class="panel-body" id="according01">
            <div class="form-group">
                <label for="mark">Марка:</label>
                <select class="form-control" id="mark" ng-model="product.mark">
                    <option ng-if="marks.length==0">Загрузка....</option>
                    <option ng-repeat="mark in marks" value="{{mark.id}}">{{mark.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="model">Модель:</label>
                <input type="text" class="form-control" id="model" ng-model="product.model">
            </div>
            <div class="form-group">
                <label for="manufacturer">Производитель:</label>
                <select class="form-control" id="manufacturer" ng-model="product.manufacturer">
                    <option ng-if="country.length==0">Загрузка....</option>
                    <option ng-repeat="item in country" value="{{item.id}}">{{item.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="price">Цена:</label>
                <input type="text" class="form-control" id="price" ng-model="product.price">
            </div>
            <div class="form-group">
                <label for="manufacturer">Цвет:</label>
                <select class="form-control" id="color" ng-model="product.color">
                    <option ng-if="collors.length==0">Загрузка....</option>
                    <option ng-repeat="item in collors" value="{{item.id}}">{{item.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="scope">Объем:</label>
                <input type="text" class="form-control" id="scope" ng-model="product.scope"
                       placeholder="Введите объем">
            </div>
            <div class="form-group">
                <label for="model">Ключ:</label>
                <input type="text" class="form-control" id="slug" ng-model="product.slug">
            </div>
        </div>
    </div>
</div>

<div class="panel-group">
    <!-- 1 панель -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title cursor-pointer" ng-click="toggle('#according02')">Тех. характеристики</h4>
        </div>
        <div class="panel-body display-none" id="according02">

            <div class="form-group">
                <label for="control">Управление:</label>
                <input type="text" class="form-control" id="control" ng-model="product.control"
                       placeholder="Введите управление">
            </div>
            <div class="form-group">
                <label for="energy_consumption">Энергопотребление:</label>
                <input type="text" class="form-control" id="energy_consumption" ng-model="product.energy_consumption"
                       placeholder="Введите Энергопотребление">
            </div>
            <div class="form-group">
                <label for="energy_class">Класс энергоэффективности:</label>
                <input type="text" class="form-control" id="energy_class" ng-model="product.energy_class"
                       placeholder="Введите Класс энергоэффективности">
            </div>
            <div class="form-group">
                <label for="type_cooling">Тип охлаждения:</label>
                <input type="text" class="form-control" id="type_cooling" ng-model="product.type_cooling">
            </div>
            <div class="form-group">
                <label for="inverter">Инверторный тип компрессора:</label>
                <input type="text" class="form-control" id="inverter" ng-model="product.inverter"
                       placeholder="Введите Инверторный тип компрессора">
            </div>
            <div class="form-group">
                <label for="dimensions">Габариты:</label>
                <input type="text" class="form-control" id="dimensions" ng-model="product.dimensions">
            </div>
            <div class="form-group">
                <label for="climatic_class">Климатический класс:</label>
                <input type="text" class="form-control" id="climatic_class" ng-model="product.climatic_class">
            </div>
            <div class="form-group">
                <label for="freezing_capacity">Мощность замораживания:</label>
                <input type="text" class="form-control" id="freezing_capacity" ng-model="product.freezing_capacity">
            </div>
            <div class="form-group">
                <label for="refrigerant">Хладагент:</label>
                <input type="text" class="form-control" id="refrigerant" ng-model="product.refrigerant">
            </div>
            <div class="form-group">
                <label for="noise_level">Уровень шума, дБ:</label>
                <input type="text" class="form-control" id="noise_level" ng-model="product.noise_level">
            </div>

        </div>
    </div>
</div>


<div class="panel-group">
    <!-- 1 панель -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title cursor-pointer" ng-click="toggle('#according03')">Дополнительные характеристики</h4>
        </div>
        <div class="panel-body display-none" id="according03">
            <div class="form-group">
                <label for="location_freezer">Расположение морозильной камеры:</label>
                <input type="text" class="form-control" id="location_freezer" ng-model="product.location_freezer"
                       placeholder="Введите Расположение морозильной камеры">
            </div>
            <div class="form-group">
                <label for="number_cameras">Количество камер:</label>
                <input type="text" class="form-control" id="number_cameras" ng-model="product.number_cameras"
                       placeholder="Введите Количество камер">
            </div>
            <div class="form-group">
                <label for="number_doors">Количество дверей:</label>
                <input type="text" class="form-control" id="number_doors" ng-model="product.number_doors">
            </div>
            <div class="form-group">
                <label for="zone_freshness">Зона свежести:</label>
                <input type="text" class="form-control" id="zone_freshness" ng-model="product.zone_freshness">
            </div>

            <div class="form-group">
                <label for="overweighing_door">Перевешивание двери:</label>
                <input type="text" class="form-control" id="overweighing_door" ng-model="product.overweighing_door">
            </div>
            <div class="form-group">
                <label for="weight">Вес:</label>
                <input type="text" class="form-control" id="weight" ng-model="product.weight">
            </div>
            <div class="form-group">
                <label for="additional_features">Дополнительные возможности:</label>
                <input type="text" class="form-control" id="additional_features" ng-model="product.additional_features">
            </div>
            <div class="form-group">
                <label for="holidays_mode">Режим «Отпуск»:</label>
                <input type="text" class="form-control" id="holidays_mode" ng-model="product.holidays_mode">
            </div>
            <div class="form-group">
                <label for="options">Доп. Опции:</label>
                <input type="text" class="form-control" id="options" ng-model="product.options">
            </div>
            <div class="form-group">
                <label for="display">Дисплей:</label>
                <input type="text" class="form-control" id="display" ng-model="product.display">
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="id" ng-model="product.id">