<div class="panel-group">
    <!-- 1 панель -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title cursor-pointer" ng-click="toggle('#according01')">Основные поля</h4>
        </div>
        <div class="panel-body" id="according01">

            <div class="form-group">
                <label for="mark">Марка:</label>
                <select class="form-control" id="mark" ng-model="product.mark">
                    <option ng-if="marks.length==0">Загрузка....</option>
                    <option ng-repeat="mark in marks" value="{{mark.id}}">{{mark.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="model">Модель:</label>
                <input type="text" class="form-control" id="model" ng-model="product.model">
            </div>
            <div class="form-group">
                <label for="manufacturer">Производитель:</label>
                <select class="form-control" id="manufacturer" ng-model="product.manufacturer">
                    <option ng-if="country.length==0">Загрузка....</option>
                    <option ng-repeat="item in country" value="{{item.id}}">{{item.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="price">Цена:</label>
                <input type="text" class="form-control" id="price" ng-model="product.price">
            </div>
            <div class="form-group">
                <label for="manufacturer">Цвет:</label>
                <select class="form-control" id="color" ng-model="product.color">
                    <option ng-if="collors.length==0">Загрузка....</option>
                    <option ng-repeat="item in collors" value="{{item.id}}">{{item.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="model">Ключ:</label>
                <input type="text" class="form-control" id="slug" ng-model="product.slug">
            </div>
        </div>
    </div>
</div>
<div class="panel-group">
    <!-- 1 панель -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title cursor-pointer" ng-click="toggle('#according02')">Доп поля</h4>
        </div>
        <div class="panel-body display-none" id="according02">
            <div class="form-group">
                <label for="type">Тип:</label>
                <input type="text" class="form-control" id="type" ng-model="product.type">
            </div>
            <div class="form-group">
                <label for="serviced_area">Обслуживаемая площадь:</label>
                <input type="text" class="form-control" id="serviced_area" ng-model="product.serviced_area">
            </div>
            <div class="form-group">
                <label for="energy_class">Класс энергопотребления:</label>
                <input type="text" class="form-control" id="energy_class" ng-model="product.energy_class">
            </div>
            <div class="form-group">
                <label for="modes">Основные режимы:</label>
                <input type="text" class="form-control" id="modes" ng-model="product.modes">
            </div>
            <div class="form-group">
                <label for="cooling_capacity">Мощность в режиме охлаждения:</label>
                <input type="text" class="form-control" id="cooling_capacity" ng-model="product.cooling_capacity">
            </div>
            <div class="form-group">
                <label for="heating_power">Мощность в режиме обогрева:</label>
                <input type="text" class="form-control" id="heating_power" ng-model="product.heating_power">
            </div>
            <div class="form-group">
                <label for="power_heating">Потребляемая мощность при обогреве:</label>
                <input type="text" class="form-control" id="power_heating" ng-model="product.power_heating">
            </div>
            <div class="form-group">
                <label for="power_cooling">Потребляемая мощность при охлаждении:</label>
                <input type="text" class="form-control" id="power_cooling" ng-model="product.power_cooling">
            </div>
            <div class="form-group">
                <label for="additional_modes">Дополнительные режимы:</label>
                <input type="text" class="form-control" id="additional_modes" ng-model="product.additional_modes">
            </div>
            <div class="form-group">
                <label for="drying_mode">Режим осушения:</label>
                <input type="text" class="form-control" id="drying_mode" ng-model="product.drying_mode">
            </div>
            <div class="form-group">
                <label for="d_u">Д/у:</label>
                <input type="text" class="form-control" id="d_u" ng-model="product.d_u">
            </div>
            <div class="form-group">
                <label for="timer">Таймер включения/выключения:</label>
                <input type="text" class="form-control" id="timer" ng-model="product.timer">
            </div>
            <div class="form-group">
                <label for="noise_level">Уровень шума внутреннего блока:</label>
                <input type="text" class="form-control" id="noise_level" ng-model="product.noise_level">
            </div>
            <div class="form-group">
                <label for="phase">Фаза:</label>
                <input type="text" class="form-control" id="phase" ng-model="product.phase">
            </div>
            <div class="form-group">
                <label for="air_filters">Фильтры тонкой очистки воздуха:</label>
                <input type="text" class="form-control" id="air_filters" ng-model="product.air_filters">
            </div>
            <div class="form-group">
                <label for="fan_control">Регулировка скорости вращения вентилятора:</label>
                <input type="text" class="form-control" id="fan_control" ng-model="product.fan_control">
            </div>
            <div class="form-group">
                <label for="minimum_temperature">Минимальная температура для эксплуатации кондиционера в режиме обогрева:</label>
                <input type="text" class="form-control" id="minimum_temperature" ng-model="product.minimum_temperature">
            </div>
            <div class="form-group">
                <label for="additional_information">Дополнительная информация:</label>
                <input type="text" class="form-control" id="additional_information" ng-model="product.additional_information">
            </div>
            <div class="form-group">
                <label for="other_functions">Другие функции и особенности:</label>
                <input type="text" class="form-control" id="other_functions" ng-model="product.other_functions">
            </div>
            <div class="form-group">
                <label for="dimensions">Габариты внутреннего блока:</label>
                <input type="text" class="form-control" id="dimensions" ng-model="product.dimensions">
            </div>
            <div class="form-group">
                <label for="weight_indoor">Габариты наружнего блока:</label>
                <input type="text" class="form-control" id="weight_indoor" ng-model="product.weight_indoor">
            </div>
            <div class="form-group">
                <label for="dimensions_outdoor">Вес внутреннего блока:</label>
                <input type="text" class="form-control" id="dimensions_outdoor" ng-model="product.dimensions_outdoor">
            </div>
            <div class="form-group">
                <label for="weight_external">Вес внешнего блока:</label>
                <input type="text" class="form-control" id="weight_external" ng-model="product.weight_external">
            </div>
            <div class="form-group">
                <label for="freon">фреон:</label>
                <input type="text" class="form-control" id="freon" ng-model="product.freon">
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="id" ng-model="product.id">