<div class="panel-group">
    <!-- 1 панель -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title cursor-pointer" ng-click="toggle('#according01')">Основные поля</h4>
        </div>
        <div class="panel-body" id="according01">

            <div class="form-group">
                <label for="mark">Марка:</label>
                <select class="form-control" id="mark" ng-model="product.mark">
                    <option ng-if="marks.length==0">Загрузка....</option>
                    <option ng-repeat="mark in marks" value="{{mark.id}}">{{mark.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="model">Модель:</label>
                <input type="text" class="form-control" id="model" ng-model="product.model">
            </div>
            <div class="form-group">
                <label for="manufacturer">Производитель:</label>
                <select class="form-control" id="manufacturer" ng-model="product.manufacturer">
                    <option ng-if="country.length==0">Загрузка....</option>
                    <option ng-repeat="item in country" value="{{item.id}}">{{item.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="price">Цена:</label>
                <input type="text" class="form-control" id="price" ng-model="product.price">
            </div>
            <div class="form-group">
                <label for="manufacturer">Цвет:</label>
                <select class="form-control" id="color" ng-model="product.color">
                    <option ng-if="collors.length==0">Загрузка....</option>
                    <option ng-repeat="item in collors" value="{{item.id}}">{{item.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="model">Ключ:</label>
                <input type="text" class="form-control" id="slug" ng-model="product.slug">
            </div>

        </div>
    </div>
</div>
<div class="panel-group">
    <!-- 1 панель -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title cursor-pointer" ng-click="toggle('#according02')">Доп поля</h4>
        </div>
        <div class="panel-body display-none" id="according02">
            <div class="form-group">
                <label for="download_type">Тип загрузки:</label>
                <input type="text" class="form-control" id="download_type" ng-model="product.download_type">
            </div>
            <div class="form-group">
                <label for="maximum_load">Максимальная загрузка:</label>
                <input type="text" class="form-control" id="maximum_load" ng-model="product.maximum_load">
            </div>
            <div class="form-group">
                <label for="drying">Сушка:</label>
                <input type="text" class="form-control" id="drying" ng-model="product.drying">
            </div>
            <div class="form-group">
                <label for="control">Управление:</label>
                <input type="text" class="form-control" id="control" ng-model="product.control">
            </div>
            <div class="form-group">
                <label for="display">Дисплей:</label>
                <input type="text" class="form-control" id="display" ng-model="product.display">
            </div>
            <div class="form-group">
                <label for="direct_drive">Прямой привод:</label>
                <input type="text" class="form-control" id="direct_drive" ng-model="product.direct_drive">
            </div>
            <div class="form-group">
                <label for="dimensions">Габариты:</label>
                <input type="text" class="form-control" id="dimensions" ng-model="product.dimensions">
            </div>
            <div class="form-group">
                <label for="weight">Вес:</label>
                <input type="text" class="form-control" id="weight" ng-model="product.weight">
            </div>
            <div class="form-group">
                <label for="colour">Цвет:</label>
                <input type="text" class="form-control" id="colour" ng-model="product.colour">
            </div>
            <div class="form-group">
                <label for="energy_class">Класс энергопотребления:</label>
                <input type="text" class="form-control" id="energy_class" ng-model="product.energy_class">
            </div>
            <div class="form-group">
                <label for="number_revolutions">Количество оборотов:</label>
                <input type="text" class="form-control" id="number_revolutions" ng-model="product.number_revolutions">
            </div>
            <div class="form-group">
                <label for="protection_children">Защита от детей:</label>
                <input type="text" class="form-control" id="protection_children" ng-model="product.protection_children">
            </div>
            <div class="form-group">
                <label for="control_imbalance">Контроль дисбаланса:</label>
                <input type="text" class="form-control" id="control_imbalance" ng-model="product.control_imbalance">
            </div>
            <div class="form-group">
                <label for="foam_control">Контроль за уровнем пены:</label>
                <input type="text" class="form-control" id="foam_control" ng-model="product.foam_control">
            </div>
            <div class="form-group">
                <label for="number_programs">Количество программ:</label>
                <input type="text" class="form-control" id="number_programs" ng-model="product.number_programs">
            </div>
            <div class="form-group">
                <label for="programs">Специальные программы:</label>
                <input type="text" class="form-control" id="programs" ng-model="product.programs">
            </div>
            <div class="form-group">
                <label for="delay_timer">Таймер отсрочки начала стирки:</label>
                <input type="text" class="form-control" id="delay_timer" ng-model="product.delay_timer">
            </div>
            <div class="form-group">
                <label for="material">Материал бака:</label>
                <input type="text" class="form-control" id="material" ng-model="product.material">
            </div>
            <div class="form-group">
                <label for="loading_door">Загрузочный люк:</label>
                <input type="text" class="form-control" id="loading_door" ng-model="product.loading_door">
            </div>
            <div class="form-group">
                <label for="noise">Уровень шума:</label>
                <input type="text" class="form-control" id="noise" ng-model="product.noise">
            </div>
            <div class="form-group">
                <label for="loading_linen">Догрузка белья:</label>
                <input type="text" class="form-control" id="loading_linen" ng-model="product.loading_linen">
            </div>
            <div class="form-group">
                <label for="additional_features">Дополнительные возможности:</label>
                <input type="text" class="form-control" id="additional_features" ng-model="product.additional_features">
            </div>
            <div class="form-group">
                <label for="annual_consumption">Годовой расход воды:</label>
                <input type="text" class="form-control" id="annual_consumption" ng-model="product.annual_consumption">
            </div>
            <div class="form-group">
                <label for="maximum_temperature">Опция на максимальную температуру:</label>
                <input type="text" class="form-control" id="maximum_temperature" ng-model="product.maximum_temperature">
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="id" ng-model="product.id">