<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph form-add animate fadeInRight">
            <div class="row x_title"><h3>Продукция({{cat}})</h3></div>
            <div class="panel panel-info">
                <div class="panel-heading"><h3 class="panel-title">Загрузка товаров</h3></div>
                <div class="panel-body">
                    <div class="form-group">
                        <input type="file" nv-file-select uploader="uploader"/><br/>
                        <ul>
                            <li ng-repeat="item in uploader.queue">
                                Name: <span ng-bind="item.file.name"></span><br/>
                                <button ng-click="item.upload()">загрузить</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group animate bounceInLeft text-right">
                <button ui-sref="product({cat:cat})" class="btn btn-success btn-sm"><i class="fa fa-plus"></i> Добавить
                </button>
                <button ng-click="exportCsv(cat)" class="btn btn-info btn-sm"><i class="fa fa-upload"></i>
                    Экспортировать
                </button>
            </div>
            <br/>
            <div class="panel panel-success" ng-if="export">
                <div class="panel-heading"><h3 class="panel-title">Файл экспорта товаров</h3></div>
                <div class="panel-body">
                    <div class="form-group">
                        <a href="../{{export.file}}" target="_blank">{{export.file}}</a>
                    </div>
                </div>
            </div>

            <div grid-data id='grid1' grid-options="gridOptions" grid-actions="gridActions">
                <form class="form-inline pull-right margin-bottom-basic">
                    <div class="form-group">
                        <grid-pagination max-size="10"
                                         boundary-links="true"
                                         class="pagination-sm"
                                         total-items="paginationOptions.totalItems"
                                         ng-model="paginationOptions.currentPage"
                                         ng-change="reloadGrid()"
                                         items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                    </div>
                    <div class="form-group items-per-page">
                        <label for="itemsOnPageSelect2">Items per page:</label>
                        <select id="itemsOnPageSelect2" class="form-control input-sm"
                                ng-init="paginationOptions.itemsPerPage = '10'"
                                ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()">
                            <option>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>75</option>
                        </select>
                    </div>
                </form>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Фото</th>
                        <th class="st-sort-disable th-dropdown">
                            Марка<br/>
                            <select class="form-control width-15"
                                    filter-by="mark"
                                    filter-type="select"
                                    ng-model="find.mark"
                                    ng-change="filter()">
                                <option value="">Марка</option>
                                <option ng-repeat="option in markOptions track by option.value"
                                        value="{{option.value}}">{{option.text}}
                                </option>
                            </select>
                        </th>
                        <th class="st-sort-disable">
                            Модель<br/>
                            <input id="orderIdFilter-model" type="text" class="form-control order-search-box"
                                   placeholder="Введите модель"
                                   ng-change="gridActions.filter()"
                                   ng-model="find.model"
                                   filter-by="model"
                                   filter-type="text">
                        </th>
                        <th sortable="color" class="sortable">
                            Цвет
                        </th>
                        <th sortable="manufacturer" class="sortable">
                            Производитель
                        </th>
                        <th sortable="price" class="sortable">
                            Цена
                        </th>
                        <th><!--class="st-sort-disable th-dropdown"-->
                            <!--                            <select class="form-control width-15"
                                                                filter-by="statusDisplay"
                                                                filter-type="select"
                                                                ng-model="status"
                                                                ng-change="filter()">
                                                            <option value="">All Statuses</option>
                                                            <option ng-repeat="option in statusOptions track by option.value"
                                                                    value="{{option.value}}">{{option.text}}
                                                            </option>
                                                        </select>-->
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr grid-item>
                        <td><img ng-if="item.image" src="../../{{item.image_dir+'thumb_'+item.image}}" /></td>
                        <td width="30%" ng-bind="item.mark"></td>
                        <td width="30%" ng-bind="item.model"></td>
                        <td ng-bind="item.color"></td>
                        <td ng-bind="item.manufacturer"></td>
                        <td ng-bind="item.price"></td>
                        <td>
                            <button ui-sref="product({cat:cat,id:item.id})" class="btn btn-primary"><i
                                    class="fa fa-pencil"></i></button>
                            &nbsp;
                            <button class="btn btn-danger" ng-click="delete(item.id)"><i class="fa fa-times"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <form class="form-inline pull-right margin-bottom-basic">
                    <div class="form-group">
                        <grid-pagination max-size="15"
                                         boundary-links="true"
                                         class="pagination-sm"
                                         total-items="paginationOptions.totalItems"
                                         ng-model="paginationOptions.currentPage"
                                         ng-change="reloadGrid()"
                                         items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                    </div>
                    <div class="form-group items-per-page">
                        <label for="itemsOnPageSelect2">Items per page:</label>
                        <select id="itemsOnPageSelect2" class="form-control input-sm"
                                ng-init="paginationOptions.itemsPerPage = '10'"
                                ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()">
                            <option>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>75</option>
                        </select>
                    </div>
                </form>
            </div>

            <!--<table class="table table-hover display-none">
                <tr>
                    <th>Марка</th>
                    <th>Модель</th>
                    <th>Цвет</th>
                    <th>Производитель</th>
                    <th>Цена</th>
                    <th></th>
                </tr>
                <tr ng-repeat="item in listProducts">
                    <td>{{item.mark}}</td>
                    <td>{{item.model}}</td>
                    <td>{{item.color}}</td>
                    <td>{{item.manufacturer}}</td>
                    <td>{{item.price}}</td>
                    <td class="col-xs-2 text-center">
                        <button ui-sref="product({cat:cat,id:item.id})" class="btn btn-primary"><i
                                class="fa fa-pencil"></i></button>
                        &nbsp;
                        <button class="btn btn-danger" ng-click="delete(item.id)"><i class="fa fa-times"></i></button>
                    </td>
                </tr>
                <tr ng-if="listProducts.length ==0">
                    <td colspan="6" class="text-center">Список пуст</td>
                </tr>
            </table>-->
            <div class="form-group animate bounceInLeft text-right col-xs-12">
                <button ui-sref="product({cat:cat})" class="btn btn-success btn-sm"><i class="fa fa-plus"></i>
                    Добавить
                </button>
            </div>
        </div>
    </div>
</div>