<div class="panel-group">
    <!-- 1 панель -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title cursor-pointer" ng-click="toggle('#according01')">Основные поля</h4>
        </div>
        <div class="panel-body" id="according01">
            <div class="form-group">
                <label for="model">Картинка:</label>
                <input type="file" class="form-control" id="image" ng-model="product.image">
            </div>
            <div class="form-group">
                <label for="mark">Марка:</label>
                <select class="form-control" id="mark" ng-model="product.mark">
                    <option ng-if="marks.length==0">Загрузка....</option>
                    <option ng-repeat="mark in marks" value="{{mark.id}}">{{mark.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="model">Модель:</label>
                <input type="text" class="form-control" id="model" ng-model="product.model">
            </div>
            <div class="form-group">
                <label for="manufacturer">Производитель:</label>
                <select class="form-control" id="manufacturer" ng-model="product.manufacturer">
                    <option ng-if="country.length==0">Загрузка....</option>
                    <option ng-repeat="item in country" value="{{item.id}}">{{item.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="price">Цена:</label>
                <input type="text" class="form-control" id="price" ng-model="product.price">
            </div>
            <div class="form-group">
                <label for="manufacturer">Цвет:</label>
                <select class="form-control" id="color" ng-model="product.color">
                    <option ng-if="collors.length==0">Загрузка....</option>
                    <option ng-repeat="item in collors" value="{{item.id}}">{{item.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="scope">Объем:</label>
                <input type="text" class="form-control" id="scope" ng-model="product.scope"
                       placeholder="Введите объем">
            </div>
            <div class="form-group">
                <label for="model">Ключ:</label>
                <input type="text" class="form-control" id="slug" ng-model="product.slug">
            </div>
        </div>
    </div>
</div>

<div class="panel-group">
    <!-- 1 панель -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title cursor-pointer" ng-click="toggle('#according02')">Доп характеристики</h4>
        </div>
        <div class="panel-body display-none" id="according02">

            <div class="form-group">
                <label for="dimensions">Размеры:</label>
                <input type="text" class="form-control" id="dimensions" ng-model="product.dimensions">
            </div>
            <div class="form-group">
                <label for="modes_operation">Режим работы:</label>
                <input type="text" class="form-control" id="modes_operation" ng-model="product.modes_operation">
            </div>
            <div class="form-group">
                <label for="grill">Гриль:</label>
                <input type="text" class="form-control" id="grill" ng-model="product.grill">
            </div>
            <div class="form-group">
                <label for="convection">Конвекция:</label>
                <input type="text" class="form-control" id="convection" ng-model="product.convection">
            </div>
            <div class="form-group">
                <label for="niche_size">Размер ниши:</label>
                <input type="text" class="form-control" id="niche_size" ng-model="product.niche_size">
            </div>
            <div class="form-group">
                <label for="rotisserie">Вертел:</label>
                <input type="text" class="form-control" id="rotisserie" ng-model="product.rotisserie">
            </div>
            <div class="form-group">
                <label for="oven_door">Дверца духовки:</label>
                <input type="text" class="form-control" id="oven_door" ng-model="product.oven_door">
            </div>
            <div class="form-group">
                <label for="lighting">Освещение:</label>
                <input type="text" class="form-control" id="lighting" ng-model="product.lighting">
            </div>
            <div class="form-group">
                <label for="equipment">Комплектация:</label>
                <input type="text" class="form-control" id="equipment" ng-model="product.equipment">
            </div>
            <div class="form-group">
                <label for="energy_class">Класс энергоэфективности:</label>
                <input type="text" class="form-control" id="energy_class" ng-model="product.energy_class">
            </div>

            <div class="form-group">
                <label for="maximum_temperature">Максимальная температура:</label>
                <input type="text" class="form-control" id="maximum_temperature" ng-model="product.maximum_temperature">
            </div>
            <div class="form-group">
                <label for="sleep_timer">Таймер выключения:</label>
                <input type="text" class="form-control" id="sleep_timer" ng-model="product.sleep_timer">
            </div>
            <div class="form-group">
                <label for="indication">Индикация:</label>
                <input type="text" class="form-control" id="indication" ng-model="product.indication">
            </div>
            <div class="form-group">
                <label for="display_type">Тип дисплея:</label>
                <input type="text" class="form-control" id="display_type" ng-model="product.display_type">
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="id" ng-model="product.id">