<div class="panel-group">
    <!-- 1 панель -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title cursor-pointer" ng-click="toggle('#according01')">Основные поля</h4>
        </div>
        <div class="panel-body" id="according01">
            <div class="form-group">
                <label for="model">Картинка:</label>
                <input type="file" class="form-control" id="image" ng-model="product.image">
            </div>
            <div class="form-group">
                <label for="mark">Марка:</label>
                <select class="form-control" id="mark" ng-model="product.mark">
                    <option ng-if="marks.length==0">Загрузка....</option>
                    <option ng-repeat="mark in marks" value="{{mark.id}}">{{mark.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="model">Модель:</label>
                <input type="text" class="form-control" id="model" ng-model="product.model">
            </div>
            <div class="form-group">
                <label for="manufacturer">Производитель:</label>
                <select class="form-control" id="manufacturer" ng-model="product.manufacturer">
                    <option ng-if="country.length==0">Загрузка....</option>
                    <option ng-repeat="item in country" value="{{item.id}}">{{item.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="price">Цена:</label>
                <input type="text" class="form-control" id="price" ng-model="product.price">
            </div>
            <div class="form-group">
                <label for="manufacturer">Цвет:</label>
                <select class="form-control" id="color" ng-model="product.color">
                    <option ng-if="collors.length==0">Загрузка....</option>
                    <option ng-repeat="item in collors" value="{{item.id}}">{{item.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="type">Тип панели:</label>
                <input type="text" class="form-control" id="type" ng-model="product.type">
            </div>
            <div class="form-group">
                <label for="model">Ключ:</label>
                <input type="text" class="form-control" id="slug" ng-model="product.slug">
            </div>
        </div>
    </div>
</div>

<div class="panel-group">
    <!-- 1 панель -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title cursor-pointer" ng-click="toggle('#according02')">Доп характеристики</h4>
        </div>
        <div class="panel-body display-none" id="according02">

            <div class="form-group">
                <label for="dimensions">Габариты:</label>
                <input type="text" class="form-control" id="dimensions" ng-model="product.dimensions">
            </div>
            <div class="form-group">
                <label for="dimensions_embedding">Размеры для встраивания:</label>
                <input type="text" class="form-control" id="dimensions_embedding" ng-model="product.dimensions_embedding">
            </div>
            <div class="form-group">
                <label for="material">Материал панели:</label>
                <input type="text" class="form-control" id="material" ng-model="product.material">
            </div>
            <div class="form-group">
                <label for="total_hotplates">Количество конфорок:</label>
                <input type="text" class="form-control" id="total_hotplates" ng-model="product.total_hotplates">
            </div>
            <div class="form-group">
                <label for="gas_burners">Газовых конфорок:</label>
                <input type="text" class="form-control" id="gas_burners" ng-model="product.gas_burners">
            </div>
            <div class="form-group">
                <label for="type_consolidation">Тип упровления:</label>
                <input type="text" class="form-control" id="type_consolidation" ng-model="product.type_consolidation">
            </div>
            <div class="form-group">
                <label for="location_control">Расположение панели упр.:</label>
                <input type="text" class="form-control" id="location_control" ng-model="product.location_control">
            </div>
            <div class="form-group">
                <label for="security_system">Система безопастности:</label>
                <input type="text" class="form-control" id="security_system" ng-model="product.security_system">
            </div>
            <div class="form-group">
                <label for="electric_ignition">Электроподжиг:</label>
                <input type="text" class="form-control" id="electric_ignition" ng-model="product.electric_ignition">
            </div>
            <div class="form-group">
                <label for="gas_control">Газ-контроль конфорок:</label>
                <input type="text" class="form-control" id="gas_control" ng-model="product.gas_control">
            </div>
            <div class="form-group">
                <label for="iron_grilles">Чугунные решетки:</label>
                <input type="text" class="form-control" id="iron_grilles" ng-model="product.iron_grilles">
            </div>
            <div class="form-group">
                <label for="display_type">Тип дисплея:</label>
                <input type="text" class="form-control" id="display_type" ng-model="product.display_type">
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="id" ng-model="product.id">