.product-form .panel-heading{
    cursor: pointer;
}

.display-none{
    display: none;
}

.productGallery div {
    display: inline-block;
    margin: 5px;
    border: 1px solid rgb(143, 190, 214);
    padding: 5px;
    height: 70px;
    vertical-align: top;
}
.cursor-pointer{
    cursor: pointer;
}

#before-load{
    display: none;
    position: fixed;
    width: 100%;
    background: rgba(255,255, 255, 0.8);
    height: 100%;
    left: 0; /*положение элемента слева*/
    top: 0; /*положение элемента сверху*/
    right: 0; /*положение элемента справа*/
    bottom: 0; /*положение элемента снизу*/
    z-index: 1001; /*располагаем его над всеми элементами на странице*/
}

#before-load span{
    position: absolute;
    left: 50%;
    top:50%;
    margin-left: -50px;
    margin-top: -50px;
}
#before-load span img{
    width: 100px;
}