<h1 class="title">Member area</h1>
<div class="form-group">
    <button class="btn btn-danger" ng-click="logout()">Logout</button>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        {{memberinfo}}
    </div>
    <div class="panel-footer">
        <button class="btn btn-danger" ng-click="destroySession()">
            Destroy token
        </button>&nbsp;
        <button class="btn btn-success" ng-click="getInfo()">
            Get Memberinfo
        </button>
    </div>
</div>
