<div class="panel panel-success">
    <div class="panel-body">
        <div class="form-group">
            <input  class="form-control" placeholder="email" ng-model="user.email" type="text" />
        </div>
        <div class="form-group">
            <input  class="form-control" placeholder="password" ng-model="user.password" type="password" />
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-success" ng-click="login()">Login</button>&nbsp;
             <button type="button" class="btn btn-default" ui-sref="outside.register">Register now!</button>
        </div>
    </div>
</div>