<div class="panel panel-success">
    <div class="panel-body">
        <div class="form-group">
            <input  class="form-control" placeholder="login" ng-model="user.login" type="text" />
        </div>
        <div class="form-group">
            <input  class="form-control" placeholder="password" ng-model="user.password" type="password" />
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-success" ng-click="signup()">Sign up</button>&nbsp;
        </div>
    </div>
</div>