<dl>
    <dt><span>Марка</span>
    <div></div>
    </dt>
    <dd><%= item.mark %></dd>

    <dt><span>Модель</span>
    <div></div>
    </dt>
    <dd><%= item.model %></dd>

    <% if(item.volume){ %>
    <dt><span>Цвет</span>
    <div></div>
    </dt>
    <dd><%= item.color %></dd>
    <% } %>

    <% if(item.volume){ %>
    <dt><span>Производитель</span>
    <div></div>
    </dt>
    <dd><%= item.manufacturer %></dd>
    <% } %>

    <% if(item.volume){ %>
    <dt><span>Объем</span>
    <div></div>
    </dt>
    <dd><%= item.volume %></dd>
    <% } %>

    <% if(item.control){ %>
    <dt><span>Управление</span>
    <div></div>
    </dt>
    <dd><%= item.control %></dd>
    <% } %>

    <% if(item.energy_consumption){ %>
    <dt><span>Класс энергопотребления</span>
    <div></div>
    </dt>
    <dd><%= item.energy_consumption %></dd>
    <% } %>

    <% if(item.energy_class){ %>
    <dt><span>Класс энергоэффективности</span>
    <div></div>
    </dt>
    <dd><%= item.energy_class %></dd>
    <% } %>

    <% if(item.location_freezer){ %>
    <dt><span>асположение морозильной камеры</span>
    <div></div>
    </dt>
    <dd><%= item.location_freezer %></dd>
    <% } %>

    <% if(item.inverter){ %>
    <dt><span>Инверторный тип компрессора</span>
    <div></div>
    </dt>
    <dd><%= item.inverter %></dd>
    <% } %>

    <% if(item.number_cameras){ %>
    <dt><span>Количество камер</span>
    <div></div>
    </dt>
    <dd><%= item.number_cameras %></dd>
    <% } %>

    <% if(item.number_doors){ %>
    <dt><span>Количество дверей</span>
    <div></div>
    </dt>
    <dd><%= item.number_doors %></dd>
    <% } %>

    <% if(item.zone_freshness){ %>
    <dt><span>Зона свежести</span>
    <div></div>
    </dt>
    <dd><%= item.zone_freshness %></dd>
    <% } %>

    <% if(item.type_cooling){ %>
    <dt><span>Тип охлаждения</span>
    <div></div>
    </dt>
    <dd><%= item.type_cooling %></dd>
    <% } %>

    <% if(item.dimensions){ %>
    <dt><span>Габариты</span>
    <div></div>
    </dt>
    <dd><%= item.dimensions %></dd>
    <% } %>

    <% if(item.climatic_class){ %>
    <dt><span>Климатический класс</span>
    <div></div>
    </dt>
    <dd><%= item.climatic_class %></dd>
    <% } %>

    <% if(item.overweighing_door){ %>
    <dt><span>Перевешивание двери</span>
    <div></div>
    </dt>
    <dd><%= item.overweighing_door %></dd>
    <% } %>

    <% if(item.weight){ %>
    <dt><span>Вес</span>
    <div></div>
    </dt>
    <dd><%= item.weight %></dd>
    <% } %>

    <% if(item.holidays_mode){ %>
    <dt><span>Режим «Отпуск»</span>
    <div></div>
    </dt>
    <dd><%= item.holidays_mode %></dd>
    <% } %>

    <% if(item.options){ %>
    <dt><span>Дополнительные опции</span>
    <div></div>
    </dt>
    <dd><%= item.options %></dd>
    <% } %>

    <% if(item.display){ %>
    <dt><span>Дисплей</span>
    <div></div>
    </dt>
    <dd><%= item.display %></dd>
    <% } %>

    <% if(item.freezing_capacity){ %>
    <dt><span>Мощность замораживания</span>
    <div></div>
    </dt>
    <dd><%= item.freezing_capacity %></dd>
    <% } %>

    <% if(item.refrigerant){ %>
    <dt><span>Хладагент</span>
    <div></div>
    </dt>
    <dd><%= item.refrigerant %></dd>
    <% } %>

    <% if(item.noise_level){ %>
    <dt><span>Уровень шума, дБ</span>
    <div></div>
    </dt>
    <dd><%= item.noise_level %></dd>
    <% } %>

    <% if(item.additional_features){ %>
    <dt><span>Дополнительные возможности</span>
    <div></div>
    </dt>
    <dd><%= item.additional_features %></dd>
    <% } %>

</dl>