<dl>
    <dt><span>Марка</span>
    <div></div>
    </dt>
    <dd><%= item.mark %></dd>

    <dt><span>Модель</span>
    <div></div>
    </dt>
    <dd><%= item.model %></dd>

    <% if(item.color){ %>
    <dt><span>Цвет</span>
    <div></div>
    </dt>
    <dd><%= item.color %></dd>
    <% } %>

    <% if(item.manufacturer){ %>
    <dt><span>Производитель</span>
    <div></div>
    </dt>
    <dd><%= item.manufacturer %></dd>
    <% } %>

    <% if(item.type){ %>
    <dt><span>Тип панели</span>
    <div></div>
    </dt>
    <dd><%= item.type %></dd>
    <% } %>

    <% if(item.controls){ %>
    <dt><span>Управление</span>
    <div></div>
    </dt>
    <dd><%= item.controls %></dd>
    <% } %>

    <% if(item.scope){ %>
    <dt><span>Объём</span>
    <div></div>
    </dt>
    <dd><%= item.scope %></dd>
    <% } %>

    <% if(item.dimensions){ %>
    <dt><span>Размеры</span>
    <div></div>
    </dt>
    <dd><%= item.dimensions %></dd>
    <% } %>

    <% if(item.modes_operation){ %>
    <dt><span>Режимов работы</span>
    <div></div>
    </dt>
    <dd><%= item.modes_operation %></dd>
    <% } %>

    <% if(item.grill){ %>
    <dt><span>Гриль</span>
    <div></div>
    </dt>
    <dd><%= item.grill %></dd>
    <% } %>

    <% if(item.convection){ %>
    <dt><span>Конвекция</span>
    <div></div>
    </dt>
    <dd><%= item.convection %></dd>
    <% } %>

    <% if(item.niche_size){ %>
    <dt><span>Размер ниши</span>
    <div></div>
    </dt>
    <dd><%= item.niche_size %></dd>
    <% } %>

    <% if(item.rotisserie){ %>
    <dt><span>Вертел</span>
    <div></div>
    </dt>
    <dd><%= item.rotisserie %></dd>
    <% } %>

    <% if(item.oven_door){ %>
    <dt><span>Дверца духовки</span>
    <div></div>
    </dt>
    <dd><%= item.oven_door %></dd>
    <% } %>

    <% if(item.lighting){ %>
    <dt><span>Освещение</span>
    <div></div>
    </dt>
    <dd><%= item.lighting %></dd>
    <% } %>

    <% if(item.equipment){ %>
    <dt><span>Комплектация</span>
    <div></div>
    </dt>
    <dd><%= item.equipment %></dd>
    <% } %>

    <% if(item.energy_class){ %>
    <dt><span>Класс энергоэфективности</span>
    <div></div>
    </dt>
    <dd><%= item.energy_class %></dd>
    <% } %>

    <% if(item.maximum_temperature){ %>
    <dt><span>Максимальная температура</span>
    <div></div>
    </dt>
    <dd><%= item.maximum_temperature %></dd>
    <% } %>

    <% if(item.sleep_timer){ %>
    <dt><span>Таймер выключения</span>
    <div></div>
    </dt>
    <dd><%= item.sleep_timer %></dd>
    <% } %>

    <% if(item.indication){ %>
    <dt><span>Индикация</span>
    <div></div>
    </dt>
    <dd><%= item.indication %></dd>
    <% } %>

    <% if(item.display_type){ %>
    <dt><span>Тип дисплея</span>
    <div></div>
    </dt>
    <dd><%= item.display_type %></dd>
    <% } %>

</dl>